* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
}

header {
  background-color: rgb(88, 88, 255);
  color: whitesmoke;
  padding: 20px 10px;

  > div {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  & nav {
    display: flex;
    gap: 16px;
    > a {
      padding: 16px 10px;
      border: 2px solid rgb(200, 200, 200);
      border-radius: 10px;
    }
  }
}

footer {
  background-color: gray;
  text-align: center;
  color: whitesmoke;
  padding: 16px;
}
